---
import communities from "../assets/communities.json";
import CommunityCard from "../components/CommunityCard/CommunityCard.astro";
import type { Community } from "../interfaces/communities";
import Layout from "../layouts/Layout.astro";

const pageDescription =
	"Descubre las comunidades tecnológicas más activas de Ecuador. Una red de grupos dedicados al desarrollo de software, innovación y aprendizaje colaborativo.";
---

<Layout 
  title="Comunidades Tecnológicas" 
  description={pageDescription}
  type="website"
>
  <div class="container mx-auto max-w-fit px-4 py-20">
    <h1 class="text-4xl font-bold mb-8">Comunidades Tecnológicas en Ecuador</h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
      {
        communities.map((community: Community) => (
          <CommunityCard {...community} />
        ))
      }
    </div>
  </div>
</Layout>
